.hobbies {
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
		margin-right: 20px;
		margin: 20px 10px 0px 10px;
	}

	&__item-icon {
		display: flex;
		border: 1px solid $yellow;
		border-radius: 50%;
		padding: 5px;
		height: 46px;
		width: 46px;

		i {
			margin: auto;
			font-size: 2rem;
			color: $black;
		}
	}

	&__item-text {
		margin-top: 5px;
	}
}
