$yellow: #ffb72d;
$white: #ffffff;
$black: #252527;
$gray: #eee;
$dark-gray: #bbb;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$transition-long: 0.5s linear;
$transition-short: 0.2s linear;
$xxl: 1399.99px;
$xl: 1199.99px;
$lg: 991.99px;
$md: 767.99px;
$sm: 575.99px;
$xs: 340px;
